*{
    margin: 0;
    padding: 0;
}
#searchrange{
   padding-top: 50px;
   padding-left: 350px;

}
#searchbox{
    font-size: x-large;
    padding: 10px;
}
#suggestname{
    margin-top: 10px;
    padding-top: 20px;
}
#suggestname>ul>li{
    width: 300px;
    padding:5px;
    list-style: none;
    border: 1px solid black;
}
#suggestname>ul>li>a{
    text-decoration: none;
    color: black;
    padding-right:270px;
}
#suggestname>ul>li:hover{
    background-color: grey;
}
#suggestname>ul>li>a:hover{
    color: white;
}